PORT=3000

DATABASE_URL="postgresql://postgres:sua_senha_aqui@localhost:5432/hotel_reservas?schema=public"

DB_HOST=localhost
DB_PORT=5432
DB_NAME=hotel_reservas
DB_USER=postgres
DB_PASSWORD=sua_senha_aqui

MAIL_HOST=sandbox.smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USER=seu_usuario_mailtrap
MAIL_PASS=sua_senha_mailtrap
MAIL_FROM=noreply@hotelreservas.com
